/* Begin CSS reset */
html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}
/* End CSS reset */

body {
  /* KACKY RELOADED */

  /* background: rgb(37, 37, 0);
  background: linear-gradient(
    90deg,
    rgba(37, 37, 0, 1) 0%,
    rgba(2, 45, 0, 1) 13%,
    rgba(0, 27, 55, 1) 35%,
    rgba(0, 63, 70, 1) 65%,
    rgba(36, 59, 0, 1) 85%,
    rgba(61, 61, 0, 1) 100%
  ); */

  /* KACKIEST KACKY */
  background: linear-gradient(
    90deg,
    rgb(54, 19, 19) 0%,
    rgb(75, 45, 0) 13%,
    rgb(63, 63, 0) 35%,
    rgb(14, 61, 14) 65%,
    rgb(49, 20, 20) 100%
  );

  color: white;

  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;

  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-bottom: 0.5em;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 0.8em;
}

section {
  margin: 4rem 0;
}

section h2 {
  margin-bottom: 0.5rem;
}

.container {
  max-width: 1000px;
  padding: 0 3rem;
  margin: 0 auto;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 2rem;
  margin-bottom: -3px;
}

.icon-small {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  margin-bottom: -5px;
}

#header-image {
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

#time-left {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2em;
}

#time-title {
  margin-right: 1.5rem;
}

.time {
  font-weight: 700;
  font-size: 40px;
  font-style: italic;
  letter-spacing: normal;
}

#time-running {
  font-weight: normal;
  font-size: 16px;
}

.map-time {
  font-weight: 700;
  font-size: 1.5rem;
}

.next-map-icon {
  width: 20px;
  height: 20px;
}

.next-map-number {
  font-size: 20px;
  font-weight: 700;
  line-height: 0;
}

.next-map-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 0.25rem;
}

.server-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit);
  gap: 1rem;
}

.server-card {
  padding: 1.5rem;
  border-radius: 10px;

  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16),
    0 3px 6px rgba(255, 255, 255, 0.23);

  background: rgba(164, 202, 254, 0.15);
  box-shadow: 0px 4px 30px rgba(183, 203, 255, 0.05);
}

.server-card h3 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: normal;
}

.server-card p {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.server-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.server-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: column;
  height: 180px;

}

/* Server title */
.a {
  -webkit-flex: 0 0 33%;
  flex: 0 0 33%;
}

/* Current map */
.b {
  -webkit-flex: 0 0 33%;
  flex: 0 0 33%;
}

/* Current playtime */
.c {
  -webkit-flex: 0 0 33%;
  flex: 0 0 33%;
}

/* preview image */
.d {
  -webkit-flex: 0 0 99%;
  flex: 0 0 99%;
}


.dot {
  font-size: 2rem;
  line-height: 0px;
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
  margin-left: 1rem;
}

#map-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin: 1rem 0;
}

#map-search label {
  font-weight: 700;
}

#map-search input {
  width: 12rem;
  background: rgba(164, 202, 254, 0.15);
  box-shadow: 0px 4px 30px rgba(183, 203, 255, 0.05);
  border: 0;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#map-search button {
  border: 0;
  padding: 0.5rem 1rem;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  min-width: 5rem;

  background-color: rgb(136, 255, 0);
  box-shadow: 0 0 5px rgba(68, 255, 0, 0.5), 0 0 10px rgba(68, 255, 0, 0.7);
  z-index: 3;

  transition: background-color 0.2s ease;
}

#map-search button:hover {
  background-color: #6a0;
}

#map-search #searchbar {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#time-left-server {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.time-server-search {
  margin-left: -0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2em;
}

footer {
  padding: 1rem;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16),
    0 3px 6px rgba(255, 255, 255, 0.23);

  background: rgba(164, 202, 254, 0.1);
  box-shadow: 0px 4px 30px rgba(183, 203, 255, 0.05);
}

footer p {
  margin-right: 1rem;
  font-size: 14;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.25em;
    letter-spacing: 0.1em;
    font-weight: 500;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .time-divider {
    font-size: 20px;
  }

  .time {
    font-size: 20px;
  }

  #time-title {
    margin-right: 0;
    margin-top: 1rem;
    width: 100%;
    display: block;
  }

  section {
    margin: 3rem 0;
  }

  .server-card {
    padding: 1rem;
  }

  .server-card p {
    font-size: 1.5rem;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
  }

  .server-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #next-map-wrapper {
    gap: 0.25rem;
    margin-top: 0.5rem;
  }

  .next-map-number {
    font-size: 16px;
  }

  .map-time {
    font-size: 20px;
  }
}
