<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      http-equiv="cache-control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>KK7 Map Schedule</title>
  </head>
  <body>
    <a href="login">
      <button type="submit">Login</button>
    </a>
    <a href="register">
      <button type="submit">Register</button>
    </a>

    <div class="container">
      <!-- TODO: change me to KK logo! -->
      <img id="header-image" src="/static/KK_LOGO.png" />
      <h1 style="text-align: center; margin-bottom: 0">Map Schedule</h1>
      <p id="time-left">
        {% if timeleft[3] == 1 %}
        <span id="time-title">Time left:</span>

        <span class="time">{{ timeleft[0] }}</span>
        <span>Days</span>

        <span class="time-divider"> / </span>

        <span class="time">{{ timeleft[1] }}</span>
        <span>Hours</span>

        <span class="time-divider"> / </span>

        <span class="time">{{ timeleft[2] }}</span>
        <span>Minutes</span>

        {% else %}
        <span>The Competition is over!</span>
        {% endif %}
      </p>

      <section>
        <h2>
          <img class="icon" src="/static/content-delivery-network.svg" />Current
          Maps
        </h2>
        <div class="server-grid">
          <script>
            let counterElements = new Array(
              { element: null, secondsPassed: 0, timelimit: 0 },
              { element: null, secondsPassed: 0, timelimit: 0 },
              { element: null, secondsPassed: 0, timelimit: 0 }
            );
          </script>
          {% for serv in servs %}
          <div class="server-card">
              <h3 class="server-title">
                  <img class="icon-small" src="/static/bare-metal-server.svg" />
                  {{ serv[0].split(" - ")[1]|safe }}
              </h3>

              <div class="server-content">
                  <div class="a">
                      <p>
                          <!--
                          --><span style="color: #a00">K</span
                          ><!--
                          --><span style="color: #a60">a</span
                          ><!--
                          --><span style="color: #aa0">ck</span
                          ><!--
                          --><span style="color: #0a0">iest Kack</span
                          ><!--
                          --><span style="color: #a00">y </span
                          ><!--
                          --><span class="current-map-id" style="color: #0f4">#{{ serv[1] }}</span>
                      </p>
                  </div>

                  <div class="b">
                      <div id="next-map-wrapper">
                          <img class="next-map-icon" src="/static/chevron--right.svg" />
                          <span class="next-map-number" style="color: #0f4"> #{{ serv[3][1] }}</span>
                          <img class="next-map-icon" src="/static/chevron--right.svg" />
                          <span class="next-map-number" style="color: #0f4"> #{{ serv[3][2] }} </span>
                          <img class="next-map-icon" src="/static/chevron--right.svg" />
                          <span class="next-map-number" style="color: #0f4"> #{{ serv[3][3] }} </span>
                      </div>
                  </div>

                  <div class="c">
                      <p>
                          <span id="time-running"> Running for</span>
                          <span id="id{{ loop.index }}"></span>
                      </p>
                  </div>

                  <div class="d">
                      <img src="/static/map_thumbnails/{{ serv[1] }}.jpg" width="320" class="map-thumbnail">
                  </div>
              </div>

			  <script>
              (() => {
                counterElements["{{ loop.index }}" - 1].element =
                  document.getElementById("id{{ loop.index }}");
                counterElements["{{ loop.index }}" - 1].secondsPassed =
                  parseInt("{{ serv[2] }}") - 20; //subtracting 20 seconds because xaseco starts counting early
				counterElements["{{ loop.index }}" - 1].timelimit =
                  parseInt("{{ serv[4] }}") * 60;
              })();
            </script>
          </div>

          {% endfor %}
        </div>
      </section>
      <section>
        <h2><img class="icon" src="/static/search.svg" />Search for a map</h2>
        <p>
          Find when a map will next be played. (Estimated time, real time
          depends on server loading times)
        </p>
        <form id="map-search" method="POST">
          <label for="map">Map #</label>
          <div id="searchbar">
            <input type="text" name="map" placeholder="Enter here..." />
            <button type="submit" name="search_btn">Search</button>
          </div>
        </form>
        {% if searched == True %} {% if badinput == True %}
        <p>Please provide a ID that is in the current map pool!</p>
        {% else %}
        <p>
          <strong>
            <!--
            --><span style="color: #a00">K</span
            ><!--
            --><span style="color: #a60">a</span
            ><!--
            --><span style="color: #aa0">ck</span
            ><!--
            --><span style="color: #0a0">iest Kack</span
            ><!--
            --><span style="color: #a00">y </span
            ><!--
            --><span style="color: #0f4">#{{ searchtext }}</span>
          </strong>
          will next be played in:
        </p>
        {% endif %} {% endif %}
        <div class="server-grid">
          {% for d in deltas %}
          <div class="server-card">
            <h3 class="server-title">
              <img class="icon-small" src="/static/bare-metal-server.svg" />
              <span
                ><!-- {{ d[1]|safe }} -->{{ d[1].split(" - ")[1]|safe }}</span
              >
            </h3>
            <p id="time-left-server">
              <span class="time">{{d[0][0]}}</span>
              <span class="time-server-search">Hours</span>
              <span class="time">{{d[0][1]}}</span>
              <span class="time-server-search">Minutes</span>
            </p>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>

    <footer>
      <p>
        © 2022 | corkscrew, adralonter and benslv | Thanks to Kackiest Kacky
        Krew!
      </p>
      <iframe
        style="margin-top: 4px"
        src="https://ghbtns.com/github-btn.html?user=dremerb&repo=kacky_maptimes&type=watch&count=true&size=small&v=2"
        frameborder="0"
        scrolling="0"
        width="100"
        height="30"
        title="Github Repo"
      ></iframe>
    </footer>
    <script defer>
		function checkCounterNeedsUpdate() {
			return (
				counterElements
				.map(
					(el, idx) =>
					// has timelimit of a map exceeded? it then becomes eligable for an update check because of map skip
					// adding 35 seconds because map skip takes time
					el.secondsPassed >= el.timelimit + 35 &&
					// also constrain it to only check every 10 seconds after the timelimit exceeded (to prevent spaming requests)
					el.secondsPassed % 10 == 0
				)
				.reduce((prev, curr) => (prev += curr ? 1 : 0)) > 0
			);
		}

		function updateCounterElements() {
			counterElements
				.map((el) => ++el.secondsPassed)
				.map((secPassed) => [Math.floor(secPassed / 60), secPassed % 60])
				.forEach(
					(timeString, idx) =>
					(counterElements[idx].element.innerText = `${timeString[0]}:${
						timeString[1] >= 10 ? timeString[1] : "0" + timeString[1]
					  }`)
				);
		}

		function loadCounterElements() {
			// fetch new data from servers
			fetch('./data.json').then(res => res.text()).then(res => {
				// [0] = current map id, [1] = time played on current map in seconds, [2] = array of upcoming maps (first element is current map id still though)
				let serverInfo = JSON.parse(res).serverinfo.map(el => Object.entries(el)[0][1]);

				// current map ids of all servers concatenated
				let currentMapIds = serverInfo.map(el => parseInt(el[0]));
				// concatenated array of all servers an their 3 next ids (i concate to 1 shot update everything next)
				let allNextMapIds = serverInfo.map(el => el[2].slice(1, 4)).reduce((prev, curr) => [...prev, ...curr]);

				// update time played elements. subtracting 20 seconds because xaseco starts counting early
				serverInfo.map((el, idx) => counterElements[idx].secondsPassed = parseInt(el[1]) - 20);
				// update current ids elements
				[...document.getElementsByClassName("current-map-id")].map((el, idx) => el.innerText = `#${currentMapIds[idx]}`);
				// update next ids elements
				[...document.getElementsByClassName("next-map-number")].map(el => el.innerText = `#${allNextMapIds.splice(0,1)}`);
                // update maps thumbnail
                [...document.getElementsByClassName("map-thumbnail")].map((el, idx) => el.src = `https://www.dingens.me/kack_thumbnails/${currentMapIds[idx]}.jpg`);
			});
		}

		let timerUpdater = setInterval(function() {
			updateCounterElements();
			if (checkCounterNeedsUpdate()) {
				loadCounterElements();
			}
		}, 1000);
    </script>
  </body>
</html>
