<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
     <meta http-equiv="pragma" content="no-cache" />
     <meta http-equiv="expires" content="0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>KK7 Map Schedule</title>
  </head>
  <body>
    <div class="container">
      <!-- TODO: change me to KK logo! -->
      <img id="header-image" src="/static/KK_LOGO.png" />
      <h1 style="text-align: center; margin-bottom: 0">Map Schedule</h1>
      <p id="time-left">
        {% if timeleft[3] == 1 %}
        <span id="time-title">Time left:</span>

        <span class="time">{{ timeleft[0] }}</span>
        <span>Days</span>

        <span class="time-divider"> / </span>

        <span class="time">{{ timeleft[1] }}</span>
        <span>Hours</span>

        <span class="time-divider"> / </span>

        <span class="time">{{ timeleft[2] }}</span>
        <span>Minutes</span>

        {% else %}
        <span>The Competition is over!</span>
        {% endif %}
      </p>

      <section>
        <h2>
          <img class="icon" src="/static/content-delivery-network.svg" />Current
          Maps
        </h2>
        <p>These are the currently running Maps!</p>
        <div class="server-grid">
          <script>
            let counterElements = new Array(
              { element: null, secondsPassed: 0 },
              { element: null, secondsPassed: 0 },
              { element: null, secondsPassed: 0 }
            );
          </script>
          {% for serv in servs %}
          <div class="server-card">
            <h3 class="server-title">
              <img class="icon-small" src="/static/bare-metal-server.svg" />
              {{ serv[0].split(" - ")[1]|safe }}
            </h3>

            <div class="server-content">
              <p>
                <!--
              --><span style="color: #a00">K</span
                ><!--
              --><span style="color: #a60">a</span
                ><!--
              --><span style="color: #aa0">ck</span
                ><!--
              --><span style="color: #0a0">iest Kack</span
                ><!--
              --><span style="color: #a00">y </span
                ><!--
              --><span style="color: #0f4">#{{ serv[1] }}</span>
              </p>

              <p>
                <span id="time-running"> Running for</span>
                <span id="id{{ loop.index }}"></span>
              </p>
            </div>

            <script>
              counterElements["{{ loop.index }}" - 1].element =
                document.getElementById("id{{ loop.index }}");
              counterElements["{{ loop.index }}" - 1].secondsPassed =
                parseInt("{{ serv[2] }}");

              setInterval(function () {
                counterElements["{{ loop.index }}" - 1].secondsPassed += 1;
                let seconds =
                  counterElements["{{ loop.index }}" - 1].secondsPassed % 60;
                let minutes = Math.floor(
                  counterElements["{{ loop.index }}" - 1].secondsPassed / 60
                );

                if (seconds < 10) {
                  seconds = "0" + seconds;
                }

                counterElements[
                  "{{ loop.index }}" - 1
                ].element.innerHTML = `${minutes}:${seconds}`;

                if (
                  counterElements["{{ loop.index }}" - 1].secondsPassed % 700 ==
                  0
                ) {
		  document.getElementsByName("search_btn")[0].click(); 
                }
              }, 1000);
            </script>
          </div>

          {% endfor %}
        </div>
      </section>
      <section>
        <h2><img class="icon" src="/static/search.svg" />Search for a map</h2>
        <p>
          Find when a map will next be played. (Estimated time, real time
          depends on server loading times)
        </p>
        <form id="map-search" method="POST">
          <label for="map">Map #</label>
          <div id="searchbar">
            <input type="text" name="map" placeholder="Enter here..." />
            <button type="submit" name="search_btn">Search</button>
          </div>
        </form>
        {% if searched == True %} {% if badinput == True %}
        <p>Please provide a ID that is in the current map pool!</p>
        {% else %}
        <p>
          <strong>
            <!--
            --><span style="color: #a00">K</span
            ><!--
            --><span style="color: #a60">a</span
            ><!--
            --><span style="color: #aa0">ck</span
            ><!--
            --><span style="color: #0a0">iest Kack</span
            ><!--
            --><span style="color: #a00">y </span
            ><!--
            --><span style="color: #0f4">#{{ searchtext }}</span>
          </strong>
          will next be played in:
        </p>
        {% endif %} {% endif %}
        <div class="server-grid">
          {% for d in deltas %}
          <div class="server-card">
            <h3 class="server-title">
              <img class="icon-small" src="/static/bare-metal-server.svg" />
              <span
                ><!-- {{ d[1]|safe }} -->{{ d[1].split(" - ")[1]|safe }}</span
              >
            </h3>
            <p id="time-left-server">
              <span class="time">{{d[0][0]}}</span>
              <span class="time-server-search">Hours</span>
              <span class="time">{{d[0][1]}}</span>
              <span class="time-server-search">Minutes</span>
            </p>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>

    <footer>
      <p>
        © 2022 | corkscrew, adralonter and benslv | Thanks to Kackiest Kacky
        Krew!
      </p>
      <iframe
        style="margin-top: 4px"
        src="https://ghbtns.com/github-btn.html?user=dremerb&repo=kacky_maptimes&type=watch&count=true&size=small&v=2"
        frameborder="0"
        scrolling="0"
        width="100"
        height="30"
        title="Github Repo"
      ></iframe>
    </footer>
  </body>
</html>
