<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login-content.css') }}"/>
    <title>KK7 Map Schedule</title>
</head>
<body>
    <div class="left-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='KK_LOGO.png') }}">
        </div>

        <div class="menu">
            <div class="menu-entry">
                <h3><a href="/">Server Overview</a></h3>
            </div>
            <div class="menu-entry">
                <h3><a href="schedule">Search Schedule</a></h3>
            </div>
            <div class="menu-entry">
                <h3><a href="leaderboard">Leaderboard</a></h3>
            </div>
            <div class="menu-entry">
                {% if loginname %}
                    <h3><a href="user">{{ loginname }}</a></h3>
                {% else %}
                    <h3><a href="login">Login/Register</a></h3>
                {% endif %}
            </div>
            {% if loginname %}
                <div class="menu-entry">
                    <h3><a href="logout">Logout</a></h3>
                </div>
            {% endif %}
        </div>

        <div class="countdown">
            <h2>Countdown</h2>
            <h3>{{ timeleft[0] }} Days</h3>
            <h3>{{ timeleft[1] }} Hours</h3>
            <h3>{{ timeleft[2] }} Minutes</h3>
        </div>
    </div>

    <!-- took this from https://www.w3schools.com/howto/howto_js_sort_table.asp -->
    <div class="content-area">
        <table id="myTable2">
            <tr>
                <!--When a header is clicked, run the sortTable function, with a parameter,
                0 for sorting by names, 1 for sorting by country: -->
                <th onclick="sortTable(0)">Rank &#8645;</th>
                <th>Name</th>
                <th>Login</th>
                <th onclick="sortTable(1)">Average &#8645;</th>
            </tr>

            {% for entry in leaderboard %}
                <tr>
                    <td>{{ entry[0] }}</td>
                    <td>{{ entry[1] | safe }}</td>
                    <td>{{ entry[2] }}</td>
                    <td>{{ entry[3] }}</td>
                </tr>
            {% endfor %}


            <script>
            function sortTable(n) {
                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                table = document.getElementById("myTable2");
                switching = true;
                // Set the sorting direction to ascending:
                dir = "asc";
                /* Make a loop that will continue until
                no switching has been done: */
                while (switching) {
                    // Start by saying: no switching is done:
                    switching = false;
                    rows = table.rows;
                    /* Loop through all table rows (except the
                    first, which contains table headers): */
                    for (i = 1; i < (rows.length - 1); i++) {
                        // Start by saying there should be no switching:
                        shouldSwitch = false;
                        /* Get the two elements you want to compare,
                            one from current row and one from the next: */
                        x = rows[i].getElementsByTagName("TD")[n];
                        y = rows[i + 1].getElementsByTagName("TD")[n];
                        /* Check if the two rows should switch place,
                        based on the direction, asc or desc: */
                        if (dir === "asc") {
                            if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir === "desc") {
                            if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                    if (shouldSwitch) {
                        /* If a switch has been marked, make the switch
                        and mark that a switch has been done: */
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        // Each time a switch is done, increase this count by 1:
                        switchcount++;
                    } else {
                        /* If no switching has been done AND the direction is "asc",
                        set the direction to "desc" and run the while loop again. */
                        if (switchcount === 0 && dir === "asc") {
                            dir = "desc";
                            switching = true;
                        }
                    }
                }
            }
            </script>
    </div>
</body>
</html>