<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <title>KK7 Map Schedule</title>
</head>
<body>
<div class="container">
    {% if state %}
    You are logged in!
    {% endif %}
    {% if mode == "l" %}
    <!-- Login block -->
    <form id="login" method="POST">
        <input type="text" name="login_usr" placeholder="Username"/>
        <input type="password" name="login_pwd" placeholder="Password"/>
        <button type="submit" name="login_submit">Login</button>
    </form>
    {% else %}
    <!-- Login block -->
    <form id="login" method="POST">
        <input type="text" name="reg_usr" placeholder="Username"/>
        <br>
        <input type="password" name="reg_pwd" placeholder="Password"/>
        <br>
        <input type="password" name="reg_mail" placeholder="Mail Address"/>
        <br>
        Beware, we just store a hash of your mail address.<br>
        Therefore you will need to remember either your password or mail address.<br>
        F if you forget both.<br>
        On the upside, hackers don't get your data and GDPR can go fuck itself :3
        <br>
        <button type="submit" name="login_reg">Register</button>
    </form>
    {% endif %}
</div>
</body>
</html>