<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>

    {% if mode == "tmp" %}
        <meta http-equiv="refresh" content="5; url=/login"/>
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <title>KK7 Map Schedule</title>
</head>
<body>
<div class="log-reg">
    {% if loginname %}
        <h4>Hello {{ loginname }}!</h4>
        <a href="user">
            <button type="submit">Settings</button>
        </a>
        <button type="submit" onclick="logout()">Logout</button>
        <script defer>
            function logout() {
                document.cookie = "kkkeks=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
                location.reload();
            }
        </script>
    {% endif %}
</div>
<div class="container">
    {% if mode == "tmp" %}
        <!-- successfully registered!-->
        <h1>You were successfully registered! <a href="/login">Please log in now!</a> (Forwarding in 5s).</h1>
    {% else %}

        {% if state %}
            <h3>You are already logged in as {{ loginname }}!</h3>
        {% elif mode == "l" %}
            <!-- Login block -->
            <form id="login" method="POST">
                <table>
                    <tr>
                        <td>Username:</td>
                        <td></label><input type="text" name="login_usr" placeholder="Username"/></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" name="login_pwd" placeholder="Password"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" name="login_submit">Login</button>
                        </td>
                    </tr>
                    <tr>
                </table>
            </form>
        {% else %}
            <!-- Login block -->
            <form id="login" method="POST">
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" name="reg_usr" placeholder="Username"/></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" name="reg_pwd" placeholder="Password"/></td>
                    </tr>
                    <tr>
                        <td>EMail-Address:</td>
                        <td><input type="text" name="reg_mail" placeholder="Mail Address"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Beware, we just store a hash of your mail address.<br>
                            Therefore you will need to remember either your password or mail address.<br>
                            F if you forget both.<br>
                        <td>
                    </tr>
                </table>
                <br>
                <button type="submit" name="login_reg">Register</button>
            </form>
            <br>
            <br>
            <br>
            <br>
            Why register?<br>
            This website not only can show you the maps currently played and give you times when a specific map will
            come up, it also can send you alarms via Discord.
            But to ping you there, it needs your Discord name, so you need an account to set that.<br>
            <br>
            Do I really want to give my data to a poorly coded website?<br>
            Check the source code, everything that is not public (e. g. Discord handle, TM login are public) is stored
            as a hash.<br>
            Neither the owners of the database can read the data, nor can some random "hackers". Doing it like this even
            does save us trouble with GDPR ^^.<br>
            So your data is save.<br>
            <br>
            Why do you need my email address?<br>
            KK/KR is only played a couple of times a year, so somebody is bound to forget their password. Mail is just
            some way to reset that. (well, once corkscrew does implement that...)<br>
            But when you want to reset your password, you will have to still know that mail address, as we do not store
            it in cleartext. Therefore if you forget both, F.<br>
        {% endif %}
    {% endif %}
</div>
</body>
</html>
