<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta
            http-equiv="cache-control"
            content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='styles.css') }}"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>KK7 Map Schedule</title>
</head>
<body>
<div class="log-reg">
    {% if loginname %}
        <a href="/">
            <button type="submit">Back to Schedule</button>
        </a>
        <div class="spacer"></div>
        <h4>Hello {{ loginname }}!</h4>
        <a href="user">
            <button type="submit">Settings</button>
        </a>
        <button type="submit" onclick="logout()">Logout</button>
        <script defer>
            function logout() {
                document.cookie = "kkkeks=; expires=Thu, 01 Jan 1970 00:00:00 UTC;"
                window.location.href = "/";
            }
        </script>
        <!-- no else here, if caught by Flask and error.html -->
    {% endif %}
</div>
<div class="settings">
    <h3>Hey {{ username }}!</h3><br>
    <br>
</div>
<div class="settings">
    <form id="set_discord_id" method="POST">
        <div class="text">
            Please add your TM login here, so we can check your fins:
        </div>
        <input type="text" name="tm_id" value="{{ tm_login }}"/>
        <button type="submit" name="user_save" value="tm_id">Save ID</button>
    </form>
    <div class="break"></div>
    <form id="set_discord_id" method="POST">
        <div class="text">
            Please add your Discord name and # here to enable alarms (e. g. corkscrew#0875):
        </div>
        <input type="text" name="discord_id" value="{{ discord_id }}"/>
        <button type="submit" name="user_save" value="discord_id">Save ID</button>
    </form>
</div>

<div class="alarm">
    <form id="save_alarms" method="POST">
        <button type="submit" name="user_save" value="alarms">Save Alarms</button>
        <br/>
        <table class="alarm_table">
            {% for row in range(maplist|count // 5) %}
                <tr>
                    {% for col in range(5) %}
                        {% if maplist[row * 5 + col] | int in finlist["mapids"] %}
                            <td style="color: #00aa00;">{{ maplist[row * 5 + col] }}</td>
                        {% else %}
                            <td style="color: red;">{{ maplist[row * 5 + col] }}</td>
                        {% endif %}
                        <td class="no-align">
                            {% if alarm_enabled and maplist[row * 5 + col] in useralarms %}
                                <input type="checkbox" class="alarm_selector" name="alarm_selector"
                                       value="{{ maplist[row * 5 + col] }}" checked="checked"/>
                            {% elif alarm_enabled and maplist[row * 5 + col] not in useralarms %}
                                <input type="checkbox" class="alarm_selector" name="alarm_selector"
                                       value="{{ maplist[row * 5 + col] }}"/>
                            {% else %}
                                <input type="checkbox" class="alarm_selector" name="alarm_selector"
                                       value="{{ maplist[row * 5 + col] }}" disabled="disabled"/>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br/>
        <button type="submit" name="user_save" value="alarms">Save Alarms</button>
    </form>
</div>
</body>
</html>
